*{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

#page {
    grid-gap: 15px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main sidebar"
    "days days sidebar"
}

header {
    border : 3px solid black;
}

header h1 {
    color: white;
    background-color: teal;
}

label {
    color: white;
}

header {
    text-align: center;
    grid-area: header;
    background-color: teal;
}

#headerForm {
    margin: 30px;
} 


form {
    margin: 30px;
    background-color: teal;
    color: black;
}

main {
    padding:30px;
    grid-area: main;
    text-align: center;
    border: 1px solid teal;
    background-color: rgb(231, 231, 231);
    
}
.desc {
    margin: 15px 0px;
}

.history{
border: none;
grid-area : sidebar;
}

.display {
    display: grid;
    grid-area : days;
    grid-template-areas: 
    "today tomorrow dayAfter";
}

.display > *  {
    text-align: center;
}

.new_li{
    color: blue;
}

.today {
    grid-area:today;
}

.tomorrow {
    grid-area:tomorrow;
}

.dayAfterTomorrow{
    grid-area: dayAfter;
}

.anchor{
    color: blue;
    text-decoration: underline;
    cursor :pointer;

}
